2016.1.29
quick list comprehension tutorial 

http://www.analyticsvidhya.com/blog/2016/01/python-tutorial-list-comprehension-examples/?utm_source=feedburner&utm_medium=email&utm_campaign=Feed%3A+AnalyticsVidhya+%28Analytics+Vidhya%29

In [1]:
# 1. flatten a matrix 
matrix = [ range(0,5), range(5,10), range(10,15) ]
print matrix

# extracting each element of the list 
print [ x for row in matrix for x in row ]

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
# 2. removing vowels
sentence = 'My name is Aarshay Jain!'
vowel = "aeiou"

print "".join([ s for s in sentence if s not in vowel ])

My nm s Arshy Jn!

In [7]:
# 3. list comprehension with dictionary
country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
dic = {}

print { country[i] : capital[i] for i in range(len(country)) }

{'Pakistan': 'Islamabad', 'Bangladesh': 'Dhaka', 'Bhutan': 'Thimphu', 'Nepal': 'Kathmandu', 'India': 'New Delhi', 'China': 'Beijing'}

In [9]:
# working with datasets
import pandas as pd
data = pd.read_csv("skills.csv")
data.head(5)

   personID                          skills
0         1    cricket;tabletennis;football
1         2           tabletennis;badminton
2         3                     tabletennis
3         4  cricket;tabletennis;volleyball
4         5             football;volleyball

In [15]:
# split the skills
data["skills_list"] = data["skills"].apply( lambda x : x.split(";") )
data.head(5)

,personID,skills,skills_list
0,1,cricket;tabletennis;football,"[cricket, tabletennis, football]"
1,2,tabletennis;badminton,"[tabletennis, badminton]"
2,3,tabletennis,[tabletennis]
3,4,cricket;tabletennis;volleyball,"[cricket, tabletennis, volleyball]"
4,5,football;volleyball,"[football, volleyball]"

In [17]:
# initialize a unique set
unique_skills = set()

# set.update( iterable )
unique_skills.update( ( sport for l in data["skills_list"] for sport in l ) )
unique_skills = list(unique_skills)
print unique_skills

['badminton', 'cricket', 'football', 'tabletennis', 'volleyball']

In [25]:
# manual one hot encoding
sport_matrix = [ [ 1 if skill in row else 0 for skill in unique_skills ] for row in data["skills_list"] ]
print sport_matrix

[[0, 1, 1, 1, 0], [1, 0, 0, 1, 0], [0, 0, 0, 1, 0], [0, 1, 0, 1, 1], [0, 0, 1, 0, 1], [0, 0, 1, 1, 0], [1, 1, 0, 0, 1], [0, 1, 1, 0, 0], [1, 0, 0, 1, 1], [0, 1, 0, 0, 1], [1, 0, 1, 0, 0], [0, 1, 1, 0, 1], [0, 0, 1, 0, 1], [1, 0, 0, 0, 0], [0, 1, 1, 1, 0]]

In [29]:
# row bind it back to the original dataframe using .concat( axis = 1 )
data = pd.concat( [ data, pd.DataFrame( sport_matrix, columns = unique_skills ) ], axis = 1 )
data.head(5)

,personID,skills,skills_list,0,1,2,3,4,0,1,2,3,4,badminton,cricket,football,tabletennis,volleyball
0,1,cricket;tabletennis;football,"[cricket, tabletennis, football]",0,1,1,1,0,0,1,1,1,0,0,1,1,1,0
1,2,tabletennis;badminton,"[tabletennis, badminton]",1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
2,3,tabletennis,[tabletennis],0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
3,4,cricket;tabletennis;volleyball,"[cricket, tabletennis, volleyball]",0,1,0,1,1,0,1,0,1,1,0,1,0,1,1
4,5,football;volleyball,"[football, volleyball]",0,0,1,0,1,0,0,1,0,1,0,0,1,0,1

In [32]:
# filtering column name
cols = ['a','b','c','d',
        'a_transform','b_transform','c_transform',
        'd_power2','d_power3','d_power4','d_power5',
        'temp1','temp2']
# different filtering
col_set1 = [ x for x in cols if x.endswith("transform")]
print col_set1
col_set2 = [x for x in cols if 'power' in x]
col_set3 = [x for x in cols if (x.endswith('transform')) or ('power' in x)]
print col_set3
col_set4 = [x for x in cols if x not in ['temp1','temp2']]

['a_transform', 'b_transform', 'c_transform']
['a_transform', 'b_transform', 'c_transform', 'd_power2', 'd_power3', 'd_power4', 'd_power5']